@model IEnumerable<PresentacionMVC.Models.CabaniaModel>

@{
    ViewData["Title"] = "BuscarPorHabilitadas";
}

<h1>Buscar Habilitadas</h1>

<p>
    <a asp-action="Create">Crear Nueva</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jacuzzi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HabilitadaReservas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumHabitacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadMaxPersonas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jacuzzi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HabilitadaReservas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumHabitacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadMaxPersonas)
            </td>
                <td>
                    <dt class="col-sm-2">
                        Foto
                    </dt>
                    <dd class="col-sm-10">
                        <img class="img-thumbnail" src="~/img/fotos/@Html.DisplayFor(modelItem => item.Foto)" />
                    </dd>
                </td>
            <td>
                    @Html.ActionLink("Mantenimientos", "ListarTodos","Mantenimiento", new { id = item.Id }) |
                    @Html.ActionLink("Agregar Mantenimiento", "Create","Mantenimiento", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>


@if (ViewBag.Error != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Error
    </div>
}