@model IEnumerable<PresentacionMVC.Models.TipoModel>

@{
    ViewData["Title"] = "Listar Todos";
}

<h1>Listar Todos</h1>

<p>
    <a asp-action="Create">Crear Nuevo Tipo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostoPorHuesped)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostoPorHuesped)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new {  Nombre = item.Nombre  }) |
                @Html.ActionLink("Borrar", "Delete","Tipo", new { Nombre = item.Nombre })
            </td>
        </tr>
}
    </tbody>
</table>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Error
    </div>
}
